'fileTypes': [
  'julius'
]
'name': 'Javascript (Julius)'
'patterns': [
  {
    'include': 'source.js'
  }
  {
    'include': '#interpolated_haskell'
  }
]
'repository':
  'interpolated_haskell':
    'patterns': [
      {
        'begin': '[#@^]\\{'
        'captures':
          '0':
            'name': 'entity.name.tag.julius'
        'end': '\\}'
        'name': 'meta.tag.template.julius'
        'patterns': [
          {
            'include': 'source.haskell'
          }
        ]
      }
    ]
'scopeName': 'source.js.julius'
